/* Custom styles for Football Insights App */

/* Remove padding from container-fluid */
.container-fluid {
    padding: 0 !important;
}

/* Flex container for displaying graphs in columns */
.graph-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.graph-padding-x {
    padding: 0 3rem;
}
